<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h3>{{ footerConfig()?.about?.title }}</h3>
        <p>
          {{ footerConfig()?.about?.description }}
        </p>
        <div class="contact">
          <span
            ><i class="fas fa-phone"></i> &nbsp;
            {{ footerConfig()?.about?.phone }}</span
          >
          <span
            ><i class="fas fa-envelope"></i> &nbsp;
            {{ footerConfig()?.about?.email }}</span
          >
        </div>
      </div>
      <div class="footer-section links">
        <h3>{{ footerConfig()?.links?.title }}</h3>
        <ul>
          @for(link of footerConfig()?.links?.links; track link){
          <li>
            <a routerLink="/">{{ link }}</a>
          </li>
          }
        </ul>
      </div>
      <div class="footer-section contact-form">
        <h3>{{ footerConfig()?.form?.title }}</h3>
        <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
          <input
            type="email"
            name="email"
            class="text-input contact-input"
            placeholder="{{ footerConfig()?.form?.mailPlaceholder }}"
            required
            [(ngModel)]="model.email"
          />
          <textarea
            name="message"
            class="text-input contact-input"
            placeholder="{{ footerConfig()?.form?.messagePlaceholder }}"
            required
            [(ngModel)]="model.message"
          ></textarea>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!contactForm.form.valid"
          >
            <i class="fas fa-envelope"></i>
            {{ footerConfig()?.form?.buttonPlaceholder }}
          </button>
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      {{ footerConfig()?.title }}
    </div>
  </div>
</footer>
