<header
  [ngClass]="
    (headerConfig()?.metaData?.fixed == true ? 'fixed ' : '') +
    (headerConfig()?.metaData?.transparent == true ? 'transparent ' : '')
  "
>
  <div class="container">
    <div class="left-menu">
      @if(appConfig()?.showSideMenu == true){
      <app-sidebar></app-sidebar>
      }
      <a routerLink="/" class="logo">
        @if(headerConfig()?.company?.logo?.show == true){
        <img src="assets/images/logo.jpg" alt="logo of the company" />
        } @if(headerConfig()?.company?.name?.show == true){
        {{ headerConfig()?.company?.name?.title }}
        }
      </a>
    </div>
    <nav>
      <ul [class.mobile-opened]="mobileMenuOpen">
        @for(link of headerConfig()?.menu; track link.link){ @if(link.links ==
        undefined || link.links.length == 0){
        <li>
          <a routerLink="/despre">{{ link.link }}</a>
        </li>
        }@else {
        <li class="dropdown">
          <a class="dropdown-toggle"
            >{{ link.link }} <i class="fas fa-caret-down"></i
          ></a>
          <ul class="dropdown-menu">
            @for(miniLinks of link.links; track miniLinks){
            <li>
              <a routerLink="/servicii/web-design">{{ miniLinks }}</a>
            </li>
            }
          </ul>
        </li>
        } }
        <li class="mobile-close" (click)="toggleMobileMenu()">&times;</li>

        @if(appConfig()?.showLanguageSwitcher == true){
        <li>
          <app-language-switcher
            [headerData]="headerConfig()!"
            [sideMenuData]="sideMenuConfig()!"
            [heroData]="heroConfig()!"
            [footerData]="footerConfig()!"
          ></app-language-switcher>
        </li>

        } @if(headerConfig()?.auth == true){
        <li>auth</li>
        }
      </ul>
      <div class="mobile-toggle" (click)="toggleMobileMenu()">
        <i class="fas fa-bars" *ngIf="!mobileMenuOpen"></i>
        <i class="fas fa-times" *ngIf="mobileMenuOpen"></i>
      </div>
    </nav>
  </div>
</header>
