<form #form="ngForm" (ngSubmit)="onSubmit(form)" ngNativeValidate>
  <h1>{{ authMode() == true ? "Log In" : "Sign Up" }}</h1>
  <!-- @if(authMode() == false){
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required ngModel />
  </div>
  } -->
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required ngModel />
  </div>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      minlength="6"
      ngModel
    />
  </div>
  <button type="submit">
    {{ authMode() == true ? "Log In" : "Sign Up" }}
  </button>
  <button type="button" (click)="switchAuthMode()">
    {{
      authMode() == true
        ? "Don't have an account ?"
        : "Already have an account?"
    }}
  </button>
</form>
