@if(isOpen()){
<aside [ngClass]="{ open: isOpen, 'always-open': !isMobileView }">
  <div class="sidebar-header">
    <h3>{{ sideMenuConfig()?.title }}</h3>
    <button class="close-btn" (click)="toggleSidebar()">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <ul class="sidebar-nav">
    @for(link of sideMenuConfig()?.links; track link.title){ @if(link.miniTitles
    == undefined){
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fas fa-home"></i> {{ link.title }}
      </a>
    </li>
    }@else {

    <li>
      <a
        routerLink="/servicii"
        routerLinkActive="active"
        class="dropdown-toggle"
      >
        <i class="fas fa-cogs"></i> {{ link.title }}
      </a>
      <ul class="submenu">
        @for(miniLink of link.miniTitles; track miniLink){
        <li>
          <a routerLink="/servicii/web-design" routerLinkActive="active">{{
            miniLink
          }}</a>
        </li>
        }
      </ul>
    </li>

    } }
  </ul>
</aside>

}@else{
<button class="hamburger-btn" (click)="toggleSidebar()">
  <i class="fas fa-bars"></i>
</button>
}
